* {
  box-sizing: border-box;
  outline: none;
  color: white;
}

:root {
  --header-height: 7.5vh;
  --blue: #2396a3;
  --darkblue: #1a707a;
  --lightcolor: rgb(63, 66, 70);
  --lightercolor: rgb(51, 53, 57);
  --mediumcolor: rgb(34, 36, 41);
  --darkcolor: rgb(15, 15, 19);
}

.index-body,
.form {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.index-header {
  position: absolute;
  width: 100vw;
  margin-top: 5vh;
}

.index-header h1 {
  text-align: center;
}

.index-body,
.chat-body {
  background-image: url(../img/lsPiBU4.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  width: 30vw;
}

input,
select {
  color: black;
}

input[type="radio"] {
  display: none;
}

input[type="submit"] {
  margin-top: 2rem;
}

input[type="radio"]:checked + label {
  border-bottom: 5px solid white;
}

label {
  font-size: large;
  font-weight: bold;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.method-select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.method-select label {
  font-size: 1.7vmin;
}

@media screen and (max-width: 1780px) {
  .box {
    width: 35%;
  }
}

@media screen and (max-width: 1680px) {
  .box {
    width: 45%;
  }
}

@media screen and (max-width: 1280px) {
  .box {
    width: 55%;
  }
}

@media screen and (max-width: 1020px) {
  .box {
    width: 65%;
  }

  .method-select label {
    font-size: 2vw;
  }
}

@media screen and (max-width: 850px) {
  .box {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none !important;
  }

  .chat {
    width: 75% !important;
  }

  .list {
    width: 25% !important;
  }

  #room-name {
    padding-left: 25% !important;
  }
}

@media screen and (max-width: 768px) {
  .box {
    width: 100%;
  }

  .list h2 {
    margin-top: 2rem;
  }

  .menu {
    position: absolute;
    margin-top: 2vmin;
    z-index: 1;
  }

  .menu-close {
    display: none;
    margin-left: 2vmin;
  }

  .menu-open {
    margin-left: 5vw;
    display: block;
  }

  .list {
    width: 0%;
  }

  .chat {
    width: 100%;
  }

  .chat-input div {
    margin-left: -25vw;
  }

  #room-name {
    padding-left: 0%;
  }

  .method-select label {
    font-size: 3vw;
  }
}

@media screen and (max-width: 560px) {
  .method-select label {
    font-size: 3.1vw;
  }

  .form-fields {
    grid-template-columns: 1fr;
  }
}

.room-div input,
.room-div select,
.username-div input {
  width: 75%;
  display: block;
  flex: 1;
}

.room-div,
.username-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.submit {
  color: black;
  display: block;
  width: 100%;
  height: 5vh;
  font-size: 3vh;
  font-weight: bold;
  background-color: var(--blue);
  opacity: 0.85;
  border: none;
}

.submit:hover {
  background-color: var(--darkblue);
  opacity: 1;
}

.chat-header {
  background-color: var(--mediumcolor);
  height: var(--header-height);
  padding: 0 5vw;
  border-bottom: 1px solid rgb(43, 45, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

nav {
  float: right;
  height: 100%;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

nav i {
  margin-left: 2.5vw;
}

.list,
.chat {
  height: calc(100vh - var(--header-height));
  padding: 2vmin;
}

.list {
  background-color: var(--darkcolor);
  border-right: 1px solid rgb(43, 45, 50);
}

.list h2,
#user-list div {
  margin-bottom: 1rem;
}

#user-list div {
  margin-left: 10px;
}

.chat {
  position: relative;
  float: right;
  margin-top: calc((100vh - var(--header-height)) * -1);
  background-color: var(--mediumcolor);
  padding-left: 2.5vw;
}

.chat-messages {
  overflow-y: auto;
  max-height: 75%;
}

.message {
  resize: none;
  position: relative;
  height: 12.25vh;
  width: 40vw;
  margin-right: 1vmin;
  margin-left: -14vmin;
  background-color: var(--darkcolor);
  border: 3px solid var(--lightcolor);
  border-radius: 5px;
  color: white;
}

.file-label,
#reset-upload,
#send {
  color: black;
}

.file-label,
#reset-upload,
#send {
  background-color: rgba(0, 0, 0, 0.6);
  height: 5vh;
  width: 5vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3vh;
  border-radius: 50%;
  border: 3px solid var(--lightcolor);
}

.file-label,
#reset-upload,
#send,
.private,
.button,
.menu,
input[type="radio"] + label:hover,
input[type="submit"] {
  cursor: pointer;
}

.file-label:hover,
#reset-upload:hover,
#send:hover {
  background-color: var(--lightcolor);
}

.button,
.logo {
  z-index: 1;
}

#reset-upload {
  margin-left: 6vh;
}

#send {
  margin-left: 12vh;
}

#file {
  display: none;
}

.chat-input {
  background-color: var(--lightercolor);
  position: absolute;
  width: 95%;
  height: 20%;
  bottom: 0px;
  padding: 3vh;
  margin-left: calc(-2.5vw + 2.5%);
  margin-bottom: calc(75vw / 100 * 2.5); /*2.5% of its width*/
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--lightcolor);
  border-radius: 5px;
}

.conversation {
  padding: 7.5px;
  border-radius: 7.5px;
  width: 75%;
  margin-bottom: 2vh;
  display: block;
}

.global-message {
  margin-bottom: 1vh;
  text-align: center;
  float: left;
  width: 100%;
}

.incoming-message {
  background-color: white;
  float: left;
}

.incoming-message .message-text,
.incoming-message .meta {
  color: black;
}

.incoming-message .meta {
  font-weight: bold;
}

.outgoing-message {
  background-color: var(--blue);
  filter: brightness(200%);
  position: relative;
  float: right;
  color: black;
  margin-right: 2.5vw;
}

.meta {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.meta span {
  font-weight: bold;
  color: gray;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 1.25rem;
  color: rgb(113, 115, 119);
  text-transform: uppercase;
}

.user {
  display: inline-block;
  margin-right: 1.5vw;
}

.message-text {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#preview {
  max-width: 50%;
  max-height: 35%;
  position: absolute;
  bottom: 3vmin;
}

.message-file {
  max-width: 100%;
}

#room-name {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}
