* {
  box-sizing: border-box;
}

:root {
  --header-height: 7.5vh;
  --identity-color: darkslateblue
}

header {
  background-color: var(--identity-color);
  height: var(--header-height);
  padding: 0 5vw;
}

.logo {
  height: 100%;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

nav {
  float: right;
  height: 100%;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

nav i {
  margin-left: 2.5vw
}

.list, .chat {
  height: calc(100vh - var(--header-height));
}

.list {
  width: 30%;
  background-color: lightgreen;
}

.chat {
  position: relative;
  float: right;
  margin-top: calc((100vh - var(--header-height)) * -1);
  width: 70%;
  background-color: lightblue;
  padding-left: 2.5vw;
}

.chat-messages {
  overflow-y: auto;
  max-height: 85%;
}

.chat-input {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0px;
  padding: 2vw;
  margin-left: -2.5vw;
}

.conversation {
  padding: 7.5px;
  border-radius: 7.5px;
  width: 75%;
  margin-bottom: 2vh;
  display: block;
}

.global-message {
  margin-bottom: 1vh;
  text-align: center;
  float: left;
  width: 100%;
}

.incoming-message {
  background-color: white;
  float: left;
}

.outgoing-message {
  background-color: var(--identity-color);
  filter: brightness(200%);
  position: relative;
  float: right; 
  color: black;
  margin-right: 2.5vw;
}

.meta {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.meta span {
  font-weight: bold;
  color: gray;
}

h1 {
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}

.user {
  display: inline-block;
  margin-right: 1.5vw;
}

.private:hover {
  cursor: pointer;
}

.message-text {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}