* {
  box-sizing: border-box;
  outline: none;
  color: white;
}

:root {
  --header-height: 7.5vh;
  --identity-color: darkslateblue;
}

.index-body,
.form {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.index-header {
  position: absolute;
  width: 100vw;
  margin-top: 5vh;
}

.index-header h1 {
  text-align: center;
}

.index-body,
.chat-body {
  background-image: url(../img/lsPiBU4.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  width: 30vw;
}

input,
select {
  color: black;
}

input[type="radio"] {
  display: none;
}

input[type="submit"] {
  margin-top: 2rem;
}

input[type="radio"]:checked + label {
  border-bottom: 5px solid white;
}

label {
  font-size: large;
  font-weight: bold;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.method-select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1680px) {
  .box {
    width: 40%;
  }
}

@media screen and (max-width: 1280px) {
  .box {
    width: 50%;
  }
}

@media screen and (max-width: 1020px) {
  .box {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .box {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .box {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .box {
    width: 100%;
  }

  .method-select label {
    font-size: 2.8vw;
  }

  .form-fields {
    grid-template-columns: 1fr;
  }
}

.room-div input,
.room-div select,
.username-div input {
  width: 75%;
  display: block;
  flex: 1;
}

.room-div,
.username-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#room-name {
  position: absolute;
  left: 61.5vw;
}

.submit {
  color: black;
  display: block;
  width: 100%;
  height: 5vh;
  font-size: 3vh;
  font-weight: bold;
  background-color: #2396a3;
  opacity: 0.85;
  border: none;
}

.chat-header {
  background-color: rgb(34, 36, 41);
  height: var(--header-height);
  padding: 0 5vw;
  border-bottom: 1px solid rgb(43, 45, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

nav {
  float: right;
  height: 100%;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

nav i {
  margin-left: 2.5vw;
}

.list,
.chat {
  height: calc(100vh - var(--header-height));
  padding: 2vmin;
}

.list {
  width: 25%;
  background-color: rgb(15, 15, 19);
  border-right: 1px solid rgb(43, 45, 50);
}

.list h2,
#user-list div {
  margin-bottom: 1rem;
}

#user-list div {
  margin-left: 10px;
}

.chat {
  position: relative;
  float: right;
  margin-top: calc((100vh - var(--header-height)) * -1);
  background-color: rgb(34, 36, 41);
  width: 75%;
  padding-left: 2.5vw;
}

.chat-messages {
  overflow-y: auto;
  max-height: 78%;
}

.message {
  resize: none;
  position: relative;
  height: 12.25vh;
  width: 40vw;
  margin-right: 1vmin;
  margin-left: -14vmin;
  background-color: rgb(15, 15, 19);
  border: 3px solid rgb(63, 66, 70);
  border-radius: 5px;
  color: white;
}

.file-label,
#reset-upload,
#send {
  color: black;
}

.file-label,
#reset-upload,
#send {
  background-color: rgba(0, 0, 0, 0.6);
  height: 5vmin;
  width: 5vmin;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3vmin;
  border-radius: 50%;
  border: 3px solid rgb(63, 66, 70);
}

.file-label:hover,
#reset-upload:hover,
#send:hover,
.private:hover,
.button:hover,
input[type="radio"] + label:hover,
input[type="submit"] {
  cursor: pointer;
}

#reset-upload {
  margin-left: 6vmin;
}

#send {
  margin-left: 12vmin;
}

#file {
  display: none;
}

.chat-input {
  background-color: rgb(51, 53, 57);
  position: absolute;
  width: 95%;
  height: 20%;
  bottom: 0px;
  padding: 3vmin;
  margin-left: calc(-2.5vw + 2.5%);
  margin-bottom: calc(75vw / 100 * 2.5); /*2.5% of its width*/
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(63, 66, 70);
  border-radius: 5px;
}

.conversation {
  padding: 7.5px;
  border-radius: 7.5px;
  width: 75%;
  margin-bottom: 2vh;
  display: block;
}

.global-message {
  margin-bottom: 1vh;
  text-align: center;
  float: left;
  width: 100%;
}

.incoming-message {
  background-color: white;
  float: left;
}

.outgoing-message {
  background-color: var(--identity-color);
  filter: brightness(200%);
  position: relative;
  float: right;
  color: black;
  margin-right: 2.5vw;
}

.meta {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.meta span {
  font-weight: bold;
  color: gray;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 1.25rem;
  color: rgb(113, 115, 119);
  text-transform: uppercase;
}

.user {
  display: inline-block;
  margin-right: 1.5vw;
}

.message-text {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#preview {
  max-width: 50%;
  max-height: 35%;
  position: absolute;
  bottom: 3vmin;
}

.message-file {
  max-width: 100%;
}
